<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="wrapper">
            <div class="container dashboard">
                <h1>Hi, <%= user.name.split(' ')[0] %>, <span>Welcome Back !</span></h1>
    
                <div class="bar">
                    <div class="item">
                        <p>Blogs</p>
                        <div class="blogs">
                            <p><%= blogs %></p>
                        </div>
                    </div>
                    <div class="item">
                        <p>Projects</p>
                        <div class="blogs">
                            <p><%= projects %></p>
                        </div>
                    </div>
                    <div class="item">
                        <p>Messages</p>
                        <div class="queries">
                            <p><%= queries %></p>
                        </div>
                    </div>
                    <div class="item">
                        <p>Comments</p>
                        <div class="comments">
                            <p><%= comments %></p>
                        </div>
                    </div>
                    <div class="item">
                        <p>Subscribers</p>
                        <div class="subscribers">
                            <p><%= subscribers %></p>
                        </div>
                    </div>
                </div>
    
                <hr>
                <h2>Recents</h2>
                <div class="cards">
                    <ul>
                        <% if(logs.length) { %>
                            <% logs.forEach(log => { %>
                                <li>
                                    <div class="activity">
                                        <p>
                                            <%= log.action %> : <span>"<%= log.subject %>"</span>
                                        </p>
                                    </div>
                                </li>
                                <hr>
                            <% }) %>
                            <% } else { %>
                                <li>
                                    <div class="activity">
                                        <p>
                                            There are no recent activities!
                                        </p>
                                    </div>
                                </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
    </body>
</html>