<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="wrapper blog-update">
            <div class="tabs">
                <div class="container">
                    <div class="createBlog form">
                        <h1>Create  Project</h1>
                        <form >
                            <p class="title">Title</p>
                            <input type="text" name="title" placeholder="Title" required><br>
                            <div class="title error"></div>
                            <p class="title">Cover Photo</p>
                            <input type="text" name="coverPhoto" placeholder="Cover photo URL" required><br>
                            <div class="cover error"></div>
                            <p class="title">Project Description</p>
                            <textarea name="body" id="blogcontent" cols="30" rows="10" placeholder="Your project description here..." required></textarea><br>
                            <div class="description error"></div>
                            <div class="submit"><button class="submitform">Create</button><button type="button" class="cancel">Cancel</button><br></div>
                        </form>
                    </div>
    
                    <div class="ingraph">
                        <img src="/assets/Graphic (1).svg" alt="">
                    </div>
                </div>
                <div class="container blogs-list active">
                    <div class="heading">
                        <h1>Projects</h1>
                        <form class="search"><input type="text" name="term" placeholder="Search..."><button><img class="searchbtn" src="/assets/search-svgrepo-com (1).svg" alt=""></button></form>
                        <div class="actions">
                            <div class="add">
                                <img src="/assets/add blog.svg" alt="add blog">
                                <p>Add Project</p>
                            </div>
                            <div class="help">
                                <img src="/assets/help1-svgrepo-com 1.svg" alt="help">
                                <p>Help</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="blogcards">
                        <div class="projectslide">
                            <% if(projects.length) { %>
                                <% projects.forEach(project => { %>
                                    <div class="card card0 projects publish-<%= project.publish %> cover" data-photourl="<%= project.coverPhoto %>" id="<%= project._id %>">
                                        <div class="inner-content">
                                            <h2><%= project.title %></h2>
                                            <p>
                                                <%= project.shortDescr %><span class="more"><%= project.rest %></span>
                                                <span class="dots">. . . Read more</span>
                                            </p>
                                        </div>
                                        <div class="blogActions projectActions">
                                            <button class="edit" data-id="<%= project._id %>">Edit</button>
                                            <button class="publish <%= project.publish %>" data-id="<%= project._id %>"><%= publishText(project.publish) %></button>
                                            <button class="delete" data-id="<%= project._id %>">Delete</button>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else {%>
                                <p class="no-blogs">There are no projects to display ...</p>
                            <% } %>
                        </div>
                    </div>
        
                    <div class="ingraph">
                        <img src="/assets/small graphic.svg" alt="stripes graphic">
                    </div>
                </div>
                <div class="container edit-blog">
                    <div class="editing form">
                        <h1>Edit  Project</h1>
                        <form>
                            <p class="title">Title</p>
                            <input type="text" name="title" placeholder="Title" required><br>
                            <div class="title error"></div>
                            <p class="title">Cover Photo</p>
                            <input type="text" name="coverPhoto" placeholder="Cover photo URL" required><br>
                            <div class="cover error"></div>
                            <p class="title">Project Description</p>
                            <textarea name="body" id="blogcontent" cols="30" rows="10" placeholder="Your project description here..." required></textarea><br>
                            <div class="description error"></div>
                            <div class="submit"><button class="update">Update</button><button class="cancel" type="button">Cancel</button><button class="delete" type="button">Delete</button><br></div>
                        </form>
                    </div>    
                    <div class="ingraph">
                        <img src="/assets/Graphic (1).svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="/js/updateProject.js"></script>
        <script src="/js/adminProject.js"></script>
        <script src="/js/addProject.js"></script>
        <script src="/js/imageSrc.js"></script>
        <script src="/js/projects.js"></script>
    </body>
</html>