<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/popup.ejs') %>

        <div class="wrapper">
            <div class="container projects">
                <div class="content">
                    <h1>My Projects at a Glance</h1>
                    <p>
                        Welcome again! Here, you can find out more about the projects I have worked on and the unique insights I have gained during the development process. Check out my featured projects aside this text, including a feature to allow more accurate search results on Spotify, a program to enhance the Oculus VR experience, an AI robot that can hold a conversation, an open-source OS, an earthquake detection and warning system, and a software to create custom QR codes. I'm excited to share my work with you.
                    </p>
                </div>
                <% if( projects.length ) { %>
                    <div class="projectslide">
                        <% projects.forEach(project => { %>
                            <div class="card card0 projects cover" data-photourl="<%= project.coverPhoto %>" id="<%= project._id %>">
                                <div class="inner-content">
                                    <h2><%= project.title %></h2>
                                    <p>
                                        <%= project.shortDescr %><span class="more"><%= project.rest %></span>
                                        <span class="dots">. . . Read more</span>
                                    </p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <p class="no-blogs">There no projects to display ... </p>
                <% } %>
                <div class="graphic projects">
                    <img src="/assets/Graphic (1).svg" alt="stripes graphic">
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="/js/projects.js"></script>
        <script src="/js/popup.js"></script>
        <script src="/js/imageSrc.js"></script>
    </body>
</html>